* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: lightgrey;
  color: #fff;
}

h1 {
  color: red;
  font-style: italic;
  border: 1px solid red;
  text-align: center;
}